{% extends "base.html" %}
{% block content %}
<h1>Aiheita</h1>

<p>
    {% if user_logged_in.asema == 'vastuuhenkilö' %}
    <a href="{{base_path}}/aihelisays" class="btn btn-success">Lisää aihe</a>
    {% endif %}
</p>

<p>
    {% if user_logged_in.asema == 'opiskelija' %}
        {% if user_logged_in.aihe %}
            Olet valinnut jo aiheen! Tuhlaat aikaasi täällä...
        {% else %}
            Valitse seuraavista aihe itsellesi!
        {% endif %}
    {% endif %}
</p>

<p>
    {% if user_logged_in == null %}
        Kirjaudu sisään niin voit valita itsellesi aiheen!
    {% endif %}
</p>
    

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Valittu</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan aiheet tähän -->
        {% for aihe in aiheet %}
        <tr>
            <td><a href="{{base_path}}/aihe/{{aihe.aihe_id}}?mista=aiheet">
                    {{aihe.nimi}}
            </td>
            <td>{{valittu[aihe.aihe_id]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}