{% extends "base.html" %}
{% block content %}
<h1>Aihe : {{aihe.nimi}}</h1>
<h4>Valittu: 10 kertaa</h4>
</br>
</br>

<h4>Kuvaus</h4>
<p>
    {% if aihe.kuvaus == null %}
    <i>Ei vielä kuvausta. 
        {% if user_logged_in.asema == 'vastuuhenkilö' %}
        Lisää aiheelle kuvaus!
        {% endif %}
    </i>
    {% else %}
    {{aihe.kuvaus}}
    {% endif %}
</p>
{% if user_logged_in.asema == 'vastuuhenkilö' %}
<a class="btn btn-default btn-sm" href="{{base_path}}/aihemuokkaus/{{aihe.aihe_id}}" 
   title="Muokkaa kuvausta tai aiheen nimeä">Muokkaa</a>
{% endif %}
<br/>
<br/>
<br/>
<a class="btn btn-default btn-sm" href="{{base_path}}/aiheet">Takaisin aihelistaukseen</a>
{% endblock %}