{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi aihe</h1>


<form method="POST" action="{{base_path}}/aihelisays">

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" placeholder="aiheesi nimi" name = "nimi" value="{{parametrit.nimi}}">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control" name = "kuvaus"  placeholder="anna tarkempi kuvaus (ei pakollinen)" >{{parametrit.kuvaus}}</textarea>
    </div>
    <div class="form-group">
        <label>Kategoriat (ctrl-nappi pohjassa voit valita useampia)</label>
        <select class="form-control" name="categories[]" multiple="">
            {% for category in categories %}
            <option value="{{category.kategoria_id}}" 
                    {% if category.kategoria_id in parametrit.categories %} 
                    selected="selected"
                    {% endif %}>{{category.nimi}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää aihe</button>
    </div>
</form>
<form method="GET" action="{{base_path}}/aiheet">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Peru aiheen lisäys</button>
    </div>
</form>


{% endblock %}