{% extends "base.html" %}
{% block content %}
<h1>Aiheita</h1>

<p>
    <a href="#" class="btn btn-success">Lisää aihe</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kategoria</th>
            <th>Valittu</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan aiheet tähän -->
        {% for aihe in aiheet %}
        <tr>
            <td><a href="{{base_path}}/aihe/{{aihe.aihe_id}}">{{aihe.nimi}}</td>
            <td><a href="#">Aiheen kategoria</a></td>
            <td>10</td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/aihemuokkaus/{{aihe.aihe_id}}">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}