{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Aiheideoita</h1>
</div>
{% if valittu %}
<p>Aihevalintoja on tehty kaikkiaan {{valittu}}</p>
{% endif %}

{% if kayttaja %}
<h4>Tietosi</h4>
<p>nimi: {{kayttaja.name}}</p>
<p>asema: {{kayttaja.asema}}</p>
    {% if kayttaja.aihe%}
        <p><b>Olet valinnut aiheeksesi <a href="{{base_path}}/aihe/{{kayttaja.aihe.aihe_id}}">
                    {{kayttaja.aihe.nimi}}</a>. Ei muuta kuin hommiin!</b></p>
    {% endif %}
    
    {% if kayttaja.asema == 'opiskelija' and kayttaja.aihe == null %}
        <p><i>Et ole vielä valinnut itsellesi aihetta!</i></p>
    {% endif %}

{% endif %}


{% endblock %}
