{% extends "base.html" %}
{% block content %}
  <h1>Kategoriat</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää kategoria</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Valintoja</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">Opiskelu</a></td>
        <td>10</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}